/* Reset básico para tirar margens padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif; /* Use fontes do Google Fonts depois */
}

body {
    background-color: #ffffffa4;
    color: #333;
}

/* Hero Section (Capa) */
.hero {
    height: 80vh; /* 80% da altura da tela */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
}

.hero h1 { font-size: 3rem; margin-bottom: 10px; }
.btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: #000;
    color: #ffffff88;
    text-decoration: none;
    border-radius: 5px;
}

/* Grid Inteligente (O segredo da responsividade) */
#projetos { padding: 50px 10%; }
h2 { margin-bottom: 30px; }

.grid-container {
    display: grid;
    /* Cria colunas que se ajustam. Mínimo de 300px, máximo o que der */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px;
}

.card {
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.card:hover { transform: translateY(-5px); } /* Efeito ao passar o mouse */

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover; /* Corta a imagem para caber sem esticar */
}

.card-info { padding: 15px; }